.gradle
/local.properties
.idea
*.iml
*.aar
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/copyright/
/domain/build/*
/data/build/*
/features/build/*
/data/build/
/data/build/generated/
/data/build/generated/source/
/domain/build/
